@{
    ViewBag.Title = "Home Page";
}


<main>
    <section class="section-hero">
        <div class="hero">
            <div class="hero-text-box">
                <h1 class="heading-primary">
                    Study Abroad
                </h1>
                <p class="hero-description">
                    "Tương lai nằm trong tay chính bạn". Hãy tham gia cùng chúng tôi.
                </p>
                <a href="#contact" class="btn btn--full margin-right-sm">Tham gia ngay</a>
                <a href="#about" class="btn btn--outline">Tìm hiểu thêm &darr;</a>
                <div class="delivered-meals">
                    <div class="delivered-imgs">
                        <img src="~/Content/img/customers/customer-1.jpg" alt="Customer photo" />
                        <img src="~/Content/img/customers/customer-2.jpg" alt="Customer photo" />
                        <img src="~/Content/img/customers/customer-3.jpg" alt="Customer photo" />
                        <img src="~/Content/img/customers/customer-4.jpg" alt="Customer photo" />
                        <img src="~/Content/img/customers/customer-5.jpg" alt="Customer photo" />
                        <img src="~/Content/img/customers/customer-6.jpg" alt="Customer photo" />
                    </div>
                    <p class="delivered-text">
                        <span>250,000+</span> Học sinh lựa chọn
                    </p>
                </div>
            </div>
            <div class="hero-img-box">
                <img src="~/Content/img/background.png"
                     class="hero-img"
                     alt="background photos" />
            </div>
        </div>
    </section>

    <section class="section-how" id="about">
        <div class="container">
            <span class="subheading">Về chúng tôi</span>
            <h2 class="heading-secondary">
                Vì sao chọn chúng tôi?
            </h2>
        </div>

        <div class="container1 grid grid--2-cols grid--center-v">
            <!-- number 01 -->
            <div class="number-text-box">
                <p class="num-number">60</p>
                <h3 class="heading-tertiary">
                    Years experiences
                </h3>
                <p class="number-description">
                    Chúng tôi tự hào là đội ngũ tư vấn du học giàu kinh nghiệm nhất trên thế giới.
                </p>
            </div>
            <div class="number-img-box">
                <img src="~/Content/img/app/app-ex.png"
                     class="number-img"
                     alt="iPhone app
            preferences selection screen" />
            </div>

            <!-- number 02 -->
            <div class="number-img-box">
                <img src="~/Content/img/app/app-uni.png"
                     class="number-img"
                     alt="iPhone app
            meal approving plan screen" />
            </div>
            <div class="number-text-box">
                <p class="num-number">100+</p>
                <h3 class="heading-tertiary">Universities partners</h3>
                <p class="number-description">
                    Hàng trăm trường đại học đối tác ở các nước như Mỹ, Canada, Anh, Úc,...
                </p>
            </div>

            <!-- number 03 -->
            <div class="number-text-box">
                <p class="num-number">1000+</p>
                <h3 class="heading-tertiary">Học sinh chọn mỗi năm</h3>
                <p class="number-description">
                    Sự lựa chọn hàng đầu của sinh viên trên toàn thế giới trong việc du học
                </p>
            </div>
            <div class="number-img-box">
                <img src="~/Content/img/app/app-pro.png"
                     class="number-img"
                     alt="iPhone app
            delivery screen" />
            </div>
        </div>
    </section>

    <section class="section-programs" id="program">
        <div class="container center-text">
            <span class="subheading">Our Programs</span>
            <h2 class="heading-secondary">
                Top chọn lựa
            </h2>
        </div>

        <div class="container1 grid grid--3-cols margin-bottom-md">
            <div class="program">
                <img src="~/Content/img/countries/america.jpg"
                     class="program-img"
                     alt="america" />

                <div class="program-content">
                    <div class="program-tags">
                        <span class="tag tag--tag3">Duke</span>
                        <span class="tag tag--tag2">Stanford</span>
                    </div>
                    <p class="program-title">America</p>
                    <ul class="program-attributes">
                        <li class="program-attribute">
                        </li>
                        </li>
                        <li class="program-attribute">
                            <ion-icon class="program-icon" name="star-outline"></ion-icon>
                            <span><strong>4.9</strong> rating (537)</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="program">
                <img src="~/Content/img/countries/australia.jpg"
                     class="program-img"
                     alt="Australia" />
                <div class="program-content">
                    <div class="program-tags">
                        <span class="tag tag--tag1">Sydney</span>
                        <span class="tag tag--tag2">Western</span>
                    </div>
                    <p class="program-title">Australia</p>
                    <ul class="program-attributes">
                        <li class="program-attribute">
                            <ion-icon class="program-icon" name="star-outline"></ion-icon>
                            <span><strong>4.8</strong> rating (441)</span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="program">
                <img src="~/Content/img/countries/england.jpg"
                     class="program-img"
                     alt="England" />
                <div class="program-content">
                    <div class="program-tags">
                        <span class="tag tag--tag1">Oxford</span>
                        <span class="tag tag--tag2">Cambridge</span>
                    </div>
                    <p class="program-title">England</p>
                    <ul class="program-attributes">
                        <li class="program-attribute">
                            <ion-icon class="program-icon" name="star-outline"></ion-icon>
                            <span><strong>4.8</strong> rating (441)</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="container all-programs">
            <a href="#" class="link">See all programs &rarr;</a>
        </div>
    </section>

    <section class="section-responses" id="response">
        <div class="responses-container">
            <span class="subheading">Response from students</span>
            <h2 class="heading-secondary">99% complements from the students in over the world </h2>

            <div class="responses">
                <figure class="response">
                    <img class="response-img"
                         alt="Photo of customer Dave Bryson"
                         src="~/Content/img/customers/dave.jpg" />
                    <blockquote class="response-text">
                        I know Omni is the official representative of UTS through a school conference. My application process was very smooth and fast. Thank you so much Omni and Mr. Ted.
                    </blockquote>
                    <p class="response-name">&mdash; Dave Bryson</p>
                </figure>

                <figure class="response">
                    <img class="response-img"
                         alt="Photo of customer Ben Hadley"
                         src="~/Content/img/customers/ben.jpg" />
                    <blockquote class="response-text">
                        I went to many centers, but they said 100% scholarship is difficult to get, centers told me to only get 30% maximum. When they came to Omni, the sisters did not say so, but they introduced schools with 30%, 50%, 100% scholarships. The sisters did not discourage me, but they said the conditions and requirements to win the scholarship were quite competitive, but still encouraged me to apply, and it didn't cost anything. That's what makes me feel that Omni is so different from other centers. I would like to thank Ms. Thao and Omni company for enthusiastically helping and supporting me in the process of applying and applying for scholarships.
                    </blockquote>
                    <p class="response-name">&mdash; Ben Hadley</p>
                </figure>

                <figure class="response">
                    <img class="response-img"
                         alt="Photo of customer Steve Miller"
                         src="~/Content/img/customers/steve.jpg" />
                    <blockquote class="response-text">
                        Everyone in Omni works very dedicated, I need whatever everyone helps with. The difficulties in the information, what I do not understand are answered by Ms. Aldrin very fully and in detail. From there, it helps me identify the school as well as the scholarship requirements. I thank Ms. Aldrin and Omni for helping me from the beginning of my research to completing the application as well as applying for scholarships and visas."
                    </blockquote>
                    <p class="response-name">&mdash; Steve Miller</p>
                </figure>

                <figure class="response">
                    <img class="response-img"
                         alt="Photo of customer Hannah Smith"
                         src="~/Content/img/customers/hannah.jpg" />
                    <blockquote class="response-text">
                        I am very impressed with the scholarship and school selection information that Omni provides during the counseling process, helping me to compare before making a decision that is most suitable for me. My visa application was also approved very quickly, without any problems.
                    </blockquote>
                    <p class="response-name">&mdash; Hannah Smith</p>
                </figure>
            </div>
        </div>

        <div class="gallery">
            <figure class="gallery-item">
                <img src="~/Content/img/University/Cambridge.jpg"
                     alt="Cambridge University" />
                <!-- <figcaption>Caption</figcaption> -->
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Cornell.jpg"
                     alt="Cornell University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Havard.jpg"
                     alt="Havard University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Oxford.jpg"
                     alt="Oxford University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Duke.jpg"
                     alt="Duke University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/MIT.jpg"
                     alt="MIT" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Pensilvania.jpg"
                     alt="Pensilvania University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Swinburne.jpg"
                     alt="Swinburne University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Sydney.jpg"
                     alt="Sydney University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Stanford.jpg"
                     alt="Stanford University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Western Australia.jpg"
                     alt="Western Australia University" />
            </figure>
            <figure class="gallery-item">
                <img src="~/Content/img/University/Yale.jpg"
                     alt="Yale University" />
            </figure>
        </div>
    </section>


    <section class="section-cta" id="contact">
        <div class="container">
            <div class="cta">
                <div class="cta-text-box">
                    <h2 class="heading-secondary">Start your journey right now</h2>
                    <p class="cta-text">
                        You are the one we care!!!
                    </p>

                    <form class="cta-form" action="#">
                        <div>
                            <label for="full-name">Full Name</label>
                            <input id="full-name"
                                   type="text"
                                   placeholder="Admin"
                                   required />
                        </div>

                        <div>
                            <label for="email">Email address</label>
                            <input id="email"
                                   type="email"
                                   placeholder="me@example.com"
                                   required />
                        </div>

                        <div>
                            <label for="select-where">Where did you hear from us?</label>
                            <select id="select-where" required>
                                <option value="">Please choose one option:</option>
                                <option value="friends">Friends and family</option>
                                <option value="youtube">YouTube video</option>
                                <option value="podcast">Podcast</option>
                                <option value="ad">Facebook ad</option>
                                <option value="others">Others</option>
                            </select>
                        </div>

                        <button class="btn btn--form">Sign up now</button>

                        <!-- <input type="checkbox" />
                        <input type="number" /> -->
                    </form>
                </div>
                <div class="cta-img-box"
                     role="img"
                     aria-label="Woman enjoying food"></div>
            </div>
        </div>
    </section>
</main>