
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="">

    <div class="col-inner" style="max-width:745px;">
        <div id="text-690302474" class="text titpage_dktv">
            <p class="uppercase">ĐĂNG KÝ TƯ VẤN DU HỌC</p>
        </div>

    </div>

    <div role="form" class="wpcf7" id="wpcf7-f242-p245-o1" lang="vi" dir="ltr">
        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
        <form action="/dang-ky-tu-van/#wpcf7-f242-p245-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="242">
                <input type="hidden" name="_wpcf7_version" value="5.3.2">
                <input type="hidden" name="_wpcf7_locale" value="vi">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f242-p245-o1">
                <input type="hidden" name="_wpcf7_container_post" value="245">
                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
            </div>
            <div class="cf7_tvdkduhoc">
                <div class="itemform_tvdkdhoc">
                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required formdktvdhoc" aria-required="true" aria-invalid="false" placeholder="Nhập họ và tên*"></span>
                </div>
                <div class="itemform_tvdkdhoc">
                    <span class="wpcf7-form-control-wrap tel-715"><input type="tel" name="tel-715" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel formdktvdhoc" aria-required="true" aria-invalid="false" placeholder="Nhập số điện thoại*"></span>
                </div>
                <div class="itemform_tvdkdhoc">
                    <span class="wpcf7-form-control-wrap number-421"><input type="number" name="number-421" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number formdktvdhoc" aria-required="true" aria-invalid="false" placeholder="Năm sinh"></span>
                </div>
                <div class="itemform_tvdkdhoc">
                    <span class="wpcf7-form-control-wrap menu-213"><select name="menu-213" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Lựa chọn cấp học">Lựa chọn cấp học</option><option value="THPT">THPT</option><option value="Cao đẳng">Cao đẳng</option><option value="Đại học">Đại học</option><option value="Cao học">Cao học</option><option value="Khác">Khác</option></select></span>
                </div>
                <div class="itemform_tvdkdhoc">
                    <span class="wpcf7-form-control-wrap text-168"><input type="text" name="text-168" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required formdktvdhoc" aria-required="true" aria-invalid="false" placeholder="Địa chỉ"></span>
                </div>
                <div class="itemform_tvdkdhoc">
                    <span class="wpcf7-form-control-wrap menu-673"><select name="menu-673" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Lựa chọn quốc gia du học">Lựa chọn quốc gia du học</option><option value="Anh">Anh</option><option value="Úc">Úc</option><option value="Mỹ">Mỹ</option><option value="Canada">Canada</option><option value="Hà Lan">Hà Lan</option><option value="New Zealand">New Zealand</option><option value="Singapore">Singapore</option></select></span>
                </div>
            </div>
            <div class="itemform_tvdkdhoc">
                <label for="">Ngày đăng ký tư vấn</label>
                <span class="ngay"><input type="date" name="date" value="" size="40" placeholder="Nhập ngày đăng ký tư vấn"></span>
            </div>
            <div class="submit_form_dktvan">
                <input type="submit" value="Đăng ký" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span>
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
        </form>
    </div>





</main>
<style>
    .wpcf7 {
        background-color: #ffffff;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .itemform_tvdkdhoc {
        text-align: center;
    }

    .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 5px;
    }

    .wpcf7-form-control {
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .wpcf7-select {
        width: 100%;
    }

    .wpcf7-submit {
        background-color: #484848;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: auto
    }

    .submit_form_dktvan {
        text-align: center;
    }

    .col-inner {
        border-radius: 4px;
        margin-left: auto
    }

    .container {
        display: flex;
    }

    .cf7_tvdkduhoc {
        margin: 0 auto;
        width: 745px;
    }
</style>

